@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

/* body {
    background: #212543;
    color: #fff;
} */

* {
    box-sizing: border-box;
}
